/* body{
  background: url("./Components/images/attack_on_titan.png") bottom center no-repeat ;
  fill: rgb(0, 0, 0);
  
} */



.chat-box{
  margin-bottom: 10%;
  padding: 0;
  height: 10%;
}

.container {
  margin: 1% auto;
  background: #fff;
  padding: 2px;
  border-radius: 7px;
  height: 50%;
}

.profile-image {
  width: 50px;
  height: 50px;
  border-radius: 40px;
}

.settings-tray {
  background: #eee;
  padding: 10px 15px;
  border-radius: 7px;
}

.input-box {
  background: #fafafa;
  padding: 10px 200px;
  width: 90%
}

input {
  border: none;
  border-radius: 30px;
  width: 80%;
}

.send-button-chat{
  width: 10%;

}


.chat-bar {
  padding: 10px 15px;
  display: flex;
  vertical-align: baseline;
  background: #fff;
  transition: .3s ease;
}

.chat-bubble {
  padding: 10px 14px;
  background: #eee;
  margin: 10px 30px;
  border-radius: 9px;
  position: relative;
  animation: fadeIn 1s ease-in;
}

/* @keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
} */



.chat-box-tray {
  background: rgb(36, 36, 36);
  display: flex;
  align-items: baseline;
  padding: 5px 5px;
  align-items: bottom;
  margin-top: 5%;
}